
@{
    ViewData["Title"] = "BarChart";
}

<h2>BarChart</h2>


<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="row" >
            <div class="col-md-4" style="padding-right:0px">
                <div style="height:15px; border-left:2px solid gray; float:right; width:25%">

                </div>
            </div>
            <div class="col-md-8" style="padding-right:0px">
                <div style="height:15px; border-right:2px solid gray; float:left; width:75%">

                </div>
            </div>
        </div>
        <div style="width:100%; height:10px; border:1px solid lightgray; border-radius:5px;">
            <div class="row">
                <div class="col-md-4" style="padding-right:0px">
                    <div style=" height:8px; background-color:#da1e1e; border-radius:5px 0px 0px 5px; float:right; width:25%">

                    </div>
                </div>
                <div class="col-md-8" style="padding-left:0px">
                    <div style="border-left:4px solid lightgray; height:8px">
                        <div style=" height:8px; background-color:#60bb4b; border-radius:0px 5px 5px 0px; float:left; width:75%;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>