@model BlockIndicate.Models.TestViewModel
@{
    ViewData["Title"] = "RetrieveData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RetrieveData</h2>

@*<table>
    <tr>
        <th>
            <h3>Token</h3>
        </th>
        <th>
            <h3>Price</h3>
        </th>
    </tr>
    @foreach (var token in Model.binanceData)
    {
        if (token.Symbol.EndsWith("BTC") && Convert.ToDouble(token.LastPrice) != 0)
        {
            <tr>
                <td>
                    <h4>@Html.Raw(token.Symbol)</h4>
                </td>
                <td>
                    @Html.Raw(token.LastPrice)
                </td>
            </tr>
        }

    }
</table>*@